<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<property name="LOG_DIR" value="/mnt/logs" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<logLevel>
					<fieldName>level</fieldName>
				</logLevel>
				<message>
					<fieldName>msg</fieldName>
				</message>
				<logstashMarkers />
				<mdc/>
				<timestamp>
					<fieldName>time</fieldName>
					<pattern>yyyy-MM-dd HH:mm:ss</pattern>
					<timeZone>GMT+8</timeZone>
				</timestamp>
				<pattern>
					<pattern>
						{
						"at":"%logger{50}:%method",
						"trace_id": "%X{X-B3-TraceId:-}",
						"span_id":"%X{X-B3-SpanId:-}",
						"parent_span_id": "%X{X-B3-ParentSpanId:-}",
						"exportable_span_id": "%X{X-Span-Export:-}",
						"from":"%X{X-B4-fromServiceName:-}",
						"to":"%X{X-B4-toServiceName:-}",
						"thread": "%thread"
						}
					</pattern>
				</pattern>
				<stackTrace>
					<throwableConverter
						class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
						<maxDepthPerThrowable>30</maxDepthPerThrowable>
						<maxLength>2048</maxLength>
						<shortenedClassNameLength>20</shortenedClassNameLength>
						<exclude>^sun\.reflect\..*\.invoke</exclude>
						<exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
						<rootCauseFirst>true</rootCauseFirst>
					</throwableConverter>
				</stackTrace>
			</providers>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/log.txt</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="async_file" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>2048</queueSize>
		<appender-ref ref="FILE" />
	</appender>
	<appender name="async_console" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>2048</queueSize>
		<appender-ref ref="STDOUT" />
	</appender>
	<root level="info">
		<appender-ref ref="async_file" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>